.switcher {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--colors-text);
  font-size: var(--fs-sm);
  cursor: pointer;
  font-weight: var(--fw-normal);
  text-transform: capitalize;
}
