.select_wrapper {
  padding: 1rem;
  font-family: var(--family);
  background-color: var(--colors-ui-base);
  border-radius: var(--radii);
  box-shadow: var(--shadow);
}

.select {
  width: 200px;
  border: none;
  color: var(--color-text);
  background-color: var(--colors-ui-base);
  outline: none;
}

.select > * {
  box-shadow: var(--shadow);
}
