.select {
  width: 200px;
  font-family: var(--family);
  background-color: var(--colors-ui-base);
  color: var(--colors-text);
  border-radius: var(--radii);
  padding: 0.25rem;
  border: none;
  box-shadow: var(--shadow);
  height: 50px;
}

.select > * {
  box-shadow: var(--shadow);
}
