.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 1.8rem;
  background-color: var(--colors-ui-base);
  box-shadow: var(--shadow);
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
}
